/autom4te.cache/
/config/
Makefile
Makefile.in
aclocal.m4
app.info
compile
config.h
config.h.in
config.log
config.status
configure
configure.scan
coverage_report
depcomp
install-sh
libtool
m4
missing
stamp-h1
*~
*.html
*.log
*.o
*.la
*.so*
*.a
.deps
*.tar*
*.zip
*.lo
*.gcno
*.gcda
src/goldfish
ar-lib
TAGS
GTAGS
GRTAGS
GPATH
TODO.org
*.org
test-driver
tests/goldfish_test.trs
tests/goldfish_test
tests/goldfish_xfail_test
tests/goldfish_xfail_test.trs
*.sig
*.gz
etags_script.sh
